<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FlyingGentleman.Agent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="FlyingGentlemanBinding">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FlyingGentlemanBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="FlyingGentleman.RemoteServerLibrary.CommandLine.CommandLine" behaviorConfiguration="FlyingGentlemanBehaviour">
        <endpoint address="net.tcp://localhost:9001/CommandLine.svc" binding="netTcpBinding" bindingConfiguration="FlyingGentlemanBinding" contract="FlyingGentleman.Library.CommandLine.ICommandLine" />
      </service>
      <service name="FlyingGentleman.RemoteServerLibrary.DatabaseServer.DatabaseServer" behaviorConfiguration="FlyingGentlemanBehaviour">
        <endpoint address="net.tcp://localhost:9001/DatabaseServer.svc" binding="netTcpBinding" bindingConfiguration="FlyingGentlemanBinding" contract="FlyingGentleman.Library.DatabaseServer.IDatabaseServer" />
      </service>
      <service name="FlyingGentleman.RemoteServerLibrary.FileSystem.FileSystem" behaviorConfiguration="FlyingGentlemanBehaviour">
        <endpoint address="net.tcp://localhost:9001/FileSystem.svc" binding="netTcpBinding" bindingConfiguration="FlyingGentlemanBinding" contract="FlyingGentleman.Library.FileSystem.IFileSystem" />
      </service>
      <service name="FlyingGentleman.RemoteServerLibrary.WebServer.WebServer" behaviorConfiguration="FlyingGentlemanBehaviour">
        <endpoint address="net.tcp://localhost:9001/WebServer.svc" binding="netTcpBinding" bindingConfiguration="FlyingGentlemanBinding" contract="FlyingGentleman.Library.WebServer.IWebServer" />
      </service>
      <service name="FlyingGentleman.RemoteServerLibrary.WindowsService.WindowsService" behaviorConfiguration="FlyingGentlemanBehaviour">
        <endpoint address="net.tcp://localhost:9001/WindowsService.svc" binding="netTcpBinding" bindingConfiguration="FlyingGentlemanBinding" contract="FlyingGentleman.Library.WindowsService.IWindowsService" />
      </service>
      <service name="FlyingGentleman.RemoteServerLibrary.RabbitMq.RabbitMqManagement">
        <endpoint address="net.tcp://localhost:9001/RabbitMqManagement.svc" binding="netTcpBinding" bindingConfiguration="FlyingGentlemanBinding" contract="FlyingGentleman.Library.RabbitMqManagement.IRabbitMqManagement" />
      </service>
      <service name="FlyingGentleman.RemoteServerLibrary.CultureManagement.CultureManagement">
        <endpoint address="net.tcp://localhost:9001/CultureManagement.svc" binding="netTcpBinding" bindingConfiguration="FlyingGentlemanBinding" contract="FlyingGentleman.Library.CultureManagement.ICultureManagement" />
      </service>
    </services>
  </system.serviceModel>
  <applicationSettings>
    <FlyingGentleman.Agent.Properties.Settings>
      <setting name="IsServiceMode" serializeAs="String">
        <value>True</value>
      </setting>
    </FlyingGentleman.Agent.Properties.Settings>
  </applicationSettings>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel" switchValue="Critical, Error, Warning">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="ServiceTrace.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <uri>
    <schemeSettings>
      <add name="http" genericUriParserOptions="DontUnescapePathDotsAndSlashes"/>
    </schemeSettings>
  </uri>
</configuration>
